@{
    ViewData["Title"] = "Eventos";
}

@model IList<Evento>
<br/>
<div class="container">
    <h1>Eventos Disponibles</h1>
    <table class="table">
        <thead class="table-warning">
            <tr>
                <td> <b>Evento</b> </td>
                <td> <b>Lugar</b> </td>
                <td> <b>Artista</b> </td>
                <td> <b>Fecha</b> </td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach(Evento evento in Model)
            {
                <tr>
                    <td>@evento.Nombre</td>
                    <td>@evento.Lugar</td>
                    <td>@evento.Artista</td>
                    <td>@evento.Fecha</td>
                    <td><a href="/Evento/Ficha/@evento.Id" class="btn btn-warning">Ver</a></td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


