@{
    ViewData["Title"] = "Eventos";
}
<br/>
<div class="container">
    <h1>Eventos Disponibles</h1>
    <table class="table">
        <thead class="table-warning">
            <tr>
                <td> <b>Evento</b> </td>
                <td> <b>Lugar</b> </td>
                <td> <b>Artista</b> </td>
                <td> <b>Fecha</b> </td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Knotfest 2022 Chile </td>
                <td> Estadio Monumental, Santiago </td>
                <td> Slipknot </td>
                <td> 10 de Diciembre, 2022</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
            <tr>
                <td> Nach Poesia Difusa </td>
                <td> Teatro Coliseo</td>
                <td> Nach </td>
                <td> 20 de Agosto, 2022</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
            <tr>
                <td> Chayanne en Vivo  </td>
                <td> Movistar Arena </td>
                <td> Chayanne </td>
                <td> 4 de Octubre, 2023</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
            <tr>
                <td> El Cuarteto de Nos - Raro </td>
                <td> Teatro Coliseo</td>
                <td> El Cuarteto de Nos </td>
                <td> 7 de Septiembre, 2022</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
            <tr>
                <td> Guns N' Roses - WE´RE F´N BACK </td>
                <td> Estadio Nacional </td>
                <td> Guns N' Roses </td>
                <td> 05 de Octubre, 2022</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
            <tr>
                <td> SoundlyFest </td>
                <td> Parque O'higgins  </td>
                <td> Varios </td>
                <td> 10 de Diciembre, 2022</td>
                <td> <a asp-controller="Evento" asp-action="Ficha"><button class="btn btn-warning">Más Detalles</button></a> </td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


