@{
    ViewData["Title"] = "Eventos";
}

@model Evento
<br />
<div class="text-center">
        <img src="~/recursos/imagen placeholder.jpg" class="img-fluid" alt="..." width="1000" style="border:solid">
      </div>
<br/>
<div class="container">
      <h1 id="titulo" class="text-center"> @Model.Nombre</h1>
      <H2 id="desc_evento" class="text-center">
          @Model.Descripcion
          <br />
          <br />
          Artista: @Model.Artista
      </H2>
      <br>
    <div class="text-center">
      <img src="~/recursos/mapa.png" class="img-fluid" alt="..." width="800">
    </div>

  </div>
 <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ZONA</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cancha</td>
          <td>$32.200</td>
          <td><a class="btn btn-warning" href="comprar.html" role="button">Comprar Boletos</a></td>
        </tr>
        <tr>
          <td>Plantea baja</td>
          <td>$40.250</td>
          <td><a class="btn btn-warning" href="comprar.html" role="button">Comprar Boletos</a></td>
        </tr>
        <tr>
          <td>Plantea Alta</td>
          <td>$27.600</td>
          <td><a class="btn btn-warning" href="comprar.html" role="button">Comprar Boletos</a></td>
        </tr>
        <tr>
          <td>Cancha + Meet and Greet</td>
          <td>$63.250</td>
          <td><a class="btn btn-warning" href="comprar.html" role="button">Comprar Boletos</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
      
  </script>
