@{
    ViewData["Title"] = "Contacto";
}
<br>
      <div class="container">
        <h2>Envia una solicitud de contacto</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu correo electronico...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Asunto</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <br>
          <button type="submit" class="btn btn-primary mb-3">Enviar Solicitud</button>
          <h6>Tambien puedes usar nuestras <a asp-controller="Home" asp-action="Redes">redes sociales</a></h6>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>