@{
    ViewData["Title"] = "Nosotros";
}
<br>
      <div class="container-xxl">
        <h1 class="titulo-nosotros">Reality First</h1>
        <img src="~/recursos/Logo Navbar.png" alt="" class="imagen-nosotros">
        <br>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
        </p>
        <img src="~/recursos/perfil.png" alt="" style="width: 250px;" class="imagen-perfil">
        <h2 class="texto-perfil"> Más Información </h2>
        <br>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quibusdam molestias iste quae facere ad minima enim, eius, 
          quidem nisi corporis quis esse maiores sapiente velit tempora magni recusandae omnis?
        </p>
        <h3>Galeria</h3>
        <div class="row">
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
        </div>
        <br>
        <div class="row">
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
          <div class="col"> <img src="~/recursos/imagen placeholder.jpg" alt="" class="img-placeholder"></div>
        </div>
        <br>
        <h5>Recuerda visitar nuestras <a asp-controller="Home" asp-action="Redes"> Redes Sociales</a> para más Información</h5>
      </div>
      <br>