@{
    ViewData["Title"] = "Redes Sociales";
}

<br>
    <div class="contenedor-imagenes">
      <div class="container">
        <h1 style="text-align: center;"> Nuestras Redes </h1>
        <hr>
        <a href="https://www.instagram.com/javier_elias_villalobos/"><img src="~/recursos/redes/instagram.png" alt="" class="red-social"></a><h3 class="red"> Instagram</h3><br>
        <a href="#"><img src="~/recursos/redes/twitter.png" alt="" class="red-social"></a><h3 class="red"> Twitter</h3><br>
        <a href="#"><img src="~/recursos/redes/wsp.png" alt="" class="red-social"></a><h3 class="red"> Whatsapp</h3><br>
        <hr>
        <p>Tambien puede solicitar una <a asp-controller="Home" asp-action="Contacto">Solicitud de Contacto</a> aqui.</p>
      </div>
    </div>
